LOCK TABLES `visitor` WRITE;
INSERT INTO `visitor` (`location`,`external_id`, `fullname`, `company`, `email`, `timestamp`) VALUES ('{{ location }}', '{{ unique_id }}','{{ visitor_fullname }}','{{ visitor_company }}', '{{ visitor_email }}', '{{ ansible_date_time.epoch }}');
UNLOCK TABLES;
