LOCK TABLES `visitor` WRITE;
INSERT INTO `visitor` (`location`,`external_id`, `fullname`, `company`, `email`) VALUES ('{{ location }}', '{{ unique_id }}','{{ visitor_fullname }}','{{ visitor_company }}', '{{ visitor_email }}');
UNLOCK TABLES;
